<div class="sign-in">
  <h2>Add Child</h2>
  
  	<%= render partial: '/kids/form' %>
  	<div class="submit-field">
        <%= link_to "Submit", root_path, :class => "sign-up-submit btn btn-outline-dark btn-block" %>
      </div>

</div>