<h2 class="text-center my-2">Sign up!</h2>
<div class="container-fluid sign-up-background">

  <div class="sign-up container">

    <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>

      <div class="submit-field">
        <%= form.submit "Sign Up", :class => "sign-up-submit btn btn-outline-dark btn-block my-1" %>
      </div>
    <% end %>
    <div>
		  <%= link_to "Back", root_path, class: "btn btn-block btn-outline-dark" %>
		</div><br/>
  </div>

</div>