<img src="http://rocknrolldad.ca/wp-content/uploads/2017/09/playdate.png" class="rounded mx-auto my-2 d-block img-fluid">

<div class= "text-center">
  <h5>Admit it, that's why you're here too!</h5>

  <h6>Ok, just kidding. I'm sure you are all good parents.</h6><br/>
  <h6>This webapp is created to allow parents to schedule and manage playdates.</h6>
</div>



