<header class="jumbotron section section-first bg-overlay-parent" id="founders-story-header">
        <div class="bg-overlay bg-base02-trans">
        <div class="bg-overlay-contents">
          <div class="container">
            <div class="row">
              <article class="col-sm-10 offset-sm-1 text-center" id="header-article">
                <h1 class="text-uppercase text-light">Discover the joys of growing up</h1>
                <h3 class="text-light jumbotron-subheading">One playdate at a time</h3><br />
                <p><a class="btn btn-primary btn-lg text-dark" href="sign_up" role="button">Join us today!</a></p>
              </article>
            </div>
          </div>
        </div>
        </div>
      </header>

      <container class="d-inline-flex offset-sm-1 text-center">
      <div class="card text-white bg-primary m-3" style="max-width: 20rem;">
      <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">Tired of routine?</h4>
            <p class="card-text">Have you run out of games to play with your kids?</p>
          </div>
    </div>

    <div class="card text-white bg-secondary m-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
         <div class="card-body">
            <h4 class="card-title">Feeling left out?</h4>
            <p class="card-text">Yearning for networking opportunities with other parents?</p>
          </div>
    </div>

    <div class="card text-white bg-success m-3" style="max-width: 20rem;">
        <div class="card-header">Header</div>
          <div class="card-body">
            <h4 class="card-title">xxxx</h4>
            <p class="card-text">Some quick example text to build on the card title</p>
          </div>
    </div>
  </container>